[Unit]
Description=Turn off st7789 backlight

[Service]
ExecStart=/home/isaiah/repos/pirate-alarm/venv/bin/python /home/isaiah/repos/pirate-alarm/src/backlight.py
Restart=no

[Install]
WantedBy=multi-user.target
